site_name: OSIRIS Wiki
site_description: OSIRIS ist ein intuitives und offenes Forschungsinformationssystem.
site_url: https://osiris-app.de/docs
repo_url: https://github.com/OSIRIS-Solutions/osiris
repo_name: OSIRIS-Solutions/osiris
nav:
  - Überblick: 
    - Home: index.md
    - Über OSIRIS: about.md
    - Features: features.md
    - Changelog: news.md
    - Kontakt: contact.md
  - Themen:
    - Community: topics/community.md
    - Schnittstellen: topics/interfaces.md
    - Portfolio: topics/portfolio.md
    - Impact Faktoren: topics/impact.md
    - Glossar: topics/glossary.md
  - Technik:
    - Einführung: technical/index.md
    - Installation:
      - Linux: technical/install/linux.md
      - Docker: technical/install/docker.md
      - Windows: technical/install/windows.md
      - Troubleshooting: technical/troubleshooting.md
    - Konfiguration:
      - Generelle Einstellungen: technical/configure/index.md
      - Datenbank: technical/configure/database.md
      - Nutzermanagement: technical/configure/user-management.md
      - Workflows und Jobs: technical/configure/workflows.md
    - Backup: technical/backup.md
    - Altdaten: technical/data.md
    - Migrieren: technical/migrate.md
    - Update: technical/update.md
  - Admins:
    - Einführung: admins/index.md
    - Allgemeine Einstellungen: admins/general.md
    - Inhalte verwalten: admins/content.md
    - Nutzeradministration: admins/users.md
    - Rollen und Rechte: admins/roles.md
    - Forschungsreisen: admins/travel.md
  - Nutzer:
    - Einführung: users/index.md
    - Inhalte hinzufügen: users/creating-content.md
theme:
  name: material
  logo: assets/logo_white.png
  favicon: assets/images/favicon.ico
  font:
    text: Rubik
  language: de
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    # - navigation.footer
    - content.tabs.link
  custom_dir: overrides
    # - navigation.indexes
plugins:
  - privacy
  - search
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/OSIRIS-Solutions/osiris
    - icon: fontawesome/solid/globe
      link: https://osiris-app.de/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/osiris-solutions-gmbh
  status:
    new: Neu hinzugefügt
    draft: Im Aufbau
  # alternate:
  #   - name: English
  #     link: /en/ 
  #     lang: en
  #   - name: Deutsch
  #     link: /de/
  #     lang: de
  consent:
    title: Cookie consent
    description: >- 
      Wir verwenden Cookies, um Ihre wiederholten Besuche und Präferenzen zu erkennen, sowie
      und um die Effektivität unserer Dokumentation zu messen und um festzustellen, ob die
      finden, wonach sie suchen. Mit Ihrer Zustimmung helfen Sie uns, unsere
      unsere Dokumentation zu verbessern.
markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
