site_name: OSIRIS Wiki
site_description: OSIRIS ist ein intuitives und offenes Forschungsinformationssystem.
site_url: https://wiki.osiris-app.de
repo_url: https://github.com/OSIRIS-Solutions/osiris-wiki
edit_uri: edit/main/docs/
repo_name: OSIRIS-Solutions/osiris
nav:
  - Überblick: 
    - Home: index.md
    - Über OSIRIS: home/about.md
    - Features: home/features.md
    - Changelog: home/news.md
    - Kontakt: home/contact.md
    - Schlagworte: home/tags.md
    - Konventionen: conventions.md
  - Themen:
    - Community: topics/community.md
    - Schnittstellen: topics/interfaces.md
    - Portfolio: topics/portfolio.md
    - Impact Faktoren: topics/impact.md
    - Glossar: topics/glossary.md
    - Wer verwendet OSIRIS?: topics/implementations.md
    - KDSF: topics/kdsf.md
    - Betriebsvereinbarung: topics/works_council.md
  - Technik:
    - Einführung: technical/index.md
    - Installation:
      - Linux: technical/install/linux.md
      - Docker: technical/install/docker.md
      - Windows: technical/install/windows.md
      - Troubleshooting: technical/troubleshooting.md
    - Konfiguration:
      - Generelle Einstellungen: technical/configure/index.md
      - Datenbank: technical/configure/database.md
      - Workflows und Jobs: technical/configure/workflows.md
      - Email: technical/configure/email.md
    - Nutzerverwaltung:
      - Nutzerverwaltung: technical/user-management/index.md
      - LDAP: technical/user-management/ldap.md
      - Auth-Addon: technical/user-management/auth.md
      - OAuth2: technical/user-management/oauth2.md
    - Backup: technical/backup.md
    - Altdaten: technical/data.md
    - Migrieren: technical/migrate.md
    - Update: technical/update.md
    - Beta verwenden: technical/beta.md
    - Testsystem einrichten: technical/test-system.md
  - Admins:
    - Einführung: admins/index.md
    - Einstellungen: 
      - Allgemeine Einstellungen: admins/general.md
      - Email-Einstellungen: admins/email.md
      - Links im Footer, Impressum und Datenschutz: admins/legal-and-links.md
    - Inhalte:
      - Einführung: admins/content/index.md
      - Aktivitäten: admins/content/activities.md
      - Projekte: admins/content/projects.md
      - Personen: admins/content/persons.md
      - Benutzerdefinierte Felder: admins/content/custom-fields.md
      - Vokabular: admins/content/vocabulary.md
      - Schlagwörter: admins/content/keywords.md
      - Hilfswerkzeuge: admins/content/tools.md
      - Infrastrukturen: admins/content/infrastructures.md
    - Workflows:
      - Einführung: admins/workflows/workflows.md
      - Workflow erstellen: admins/workflows/create_workflow.md
      - Anwendung auf Aktivitäten: admins/workflows/linked_activities.md
      - Ablauf eines Workflows: admins/workflows/workflow_handling.md
    - Rollen und Rechte:
      - Einführung: admins/roles/index.md
      - Standard-Rollen: admins/roles/roles.md
      - Wichtige Rechte: admins/roles/important-rights.md
    - Berichterstattung: admins/reporting/index.md 
    - Nutzerverwaltung: 
      - Einführung: admins/users/index.md
      - Passwörter zurücksetzen: admins/users/reset-password.md
    - Forschungsreisen: admins/travel.md
    - Events: admins/events.md
  - Nutzer:
    - Einführung: users/index.md
    - Profil:
      - Startseite: users/profile/start.md
      - Mein Jahr: users/profile/scientist_view.md
      - Meine Aktivitäten: users/profile/my_activities.md
      - Quartalsübersicht: users/profile/quarter_view.md
      - Mail Digest: users/profile/maildigest.md
    - Inhalte:
      - Inhalte hinzufügen: users/content/create_content.md
      - Inhalte bearbeiten: users/content/edit_content.md
      - Entwürfe: users/content/drafts.md
      - Schlagwörter: users/content/keywords.md
      - weitere Funktionen: users/content/expanded_functions.md
    - Benachrichtigungen: users/issues.md
    - Forschungsbereiche: users/topics.md
    - Workflows: users/workflows.md
    - Events: users/events.md
    - Organisationseinheiten:
      - Einführung: users/units/index.md
      - Einheiten hinzufügen: users/units/new_unit.md
      - Einheiten bearbeiten: users/units/edit_units.md
      - Zeitaufgelöste Verknüpfungen: users/units/connections.md
    - Lehrveranstaltungen: users/courses.md
    - Organisationen: users/organisations.md
    - Aktivitäten: 
      - Einführung: users/activities/index.md
      - Erweiterte Ansicht: users/activities/expanded_view.md
      - Erweiterte Suche: users/activities/advanced-search.md
      - Pivot-Tabelle: users/activities/pivot.md
      - Einkaufswagen: users/activities/cart.md
    - Projekte:
      - Einführung: users/projects/index.md
      - Projekte erstellen: users/projects/new_project.md
      - Projekte verwalten: users/projects/manage_projects.md
      - Verlinkungen: users/projects/project_links.md
      - Projekte suchen: users/projects/search.md
      - Statistiken zu Projekten: users/projects/statistics.md
    - Personen:
      - Einführung: users/people/index.md
      - Gäste: users/people/guests.md
    - Infrastrukturen:
      - Einführung: users/infrastructures/index.md
    - Berichte:
      - Einführung: users/reporting/index.md
      - Berichte-Vorlagen: users/reporting/report-templates.md
      - Statistiken: users/reporting/statistics.md
      - Quartalsberichte: users/reporting/quarterly-reporting.md  
  - FAQs:
    - FAQs/index.md
  - Blog:
    - blog/index.md
theme:
  name: material
  logo: assets/logo_white.png
  favicon: assets/images/favicon.ico
  font:
    text: Rubik
  language: de
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.expand
    # - navigation.footer
    - content.tabs.link
    - content.action.edit
    - content.action.view
  custom_dir: overrides
    # - navigation.indexes
plugins:
  - i18n:
      docs_structure: suffix
      languages:
        - locale: de
          default: true
          name: Deutsch
          build: true
        - locale: en
          name: English
          build: true
  - privacy
  - search
  - meta
  - git-revision-date-localized:
      enable_creation_date: true
  # - git-authors
  - tags
  # - social
  - blog:
      blog_toc: true
  # - awesome-nav
hooks:
  - overrides/hooks/shortcodes.py
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/OSIRIS-Solutions/osiris
    - icon: fontawesome/solid/globe
      link: https://osiris-app.de/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/osiris-solutions-gmbh
  status:
    new: Neu hinzugefügt
    draft: Im Aufbau
  # alternate:
  #   - name: English
  #     link: /en/ 
  #     lang: en
  #   - name: Deutsch
  #     link: /de/
  #     lang: de
  consent:
    title: Cookie consent
    description: >- 
      Wir verwenden Cookies, um Ihre wiederholten Besuche und Präferenzen zu erkennen, sowie
      und um die Effektivität unserer Dokumentation zu messen und um festzustellen, ob die
      finden, wonach sie suchen. Mit Ihrer Zustimmung helfen Sie uns, unsere
      unsere Dokumentation zu verbessern.
markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      linenums: true
      use_pygments: true
      # line_spans: __span
      pygments_lang_class: true
      # auto_title: true
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.details
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
