:root>* {
  --md-primary-fg-color: #f78104;
  --md-primary-fg-color--light: #faab36;
  --md-primary-fg-color--dark: #e95709;
  --md-status--draft: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M224,64H32A16,16,0,0,0,16,80v72a16,16,0,0,0,16,16H56v32a8,8,0,0,0,16,0V168H184v32a8,8,0,0,0,16,0V168h24a16,16,0,0,0,16-16V80A16,16,0,0,0,224,64Zm0,64.69L175.31,80H224ZM80.69,80l72,72H103.31L32,80.69V80ZM32,103.31,80.69,152H32ZM224,152H175.31l-72-72h49.38L224,151.32V152Z"></path></svg>');
  --md-status--happy: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2M7 9.5C7 8.7 7.7 8 8.5 8s1.5.7 1.5 1.5S9.3 11 8.5 11 7 10.3 7 9.5m5 7.73c-1.75 0-3.29-.73-4.19-1.81L9.23 14c.45.72 1.52 1.23 2.77 1.23s2.32-.51 2.77-1.23l1.42 1.42c-.9 1.08-2.44 1.81-4.19 1.81M15.5 11c-.8 0-1.5-.7-1.5-1.5S14.7 8 15.5 8s1.5.7 1.5 1.5-.7 1.5-1.5 1.5Z"/></svg>');
  --md-accent-fg-color: #e95709;
  --md-default-fg-color--lightest: #f7810460;
  --md-accent-fg-color--transparent: rgba(231, 87, 9, 0.1);

  --secondary-color: #f78104;
  --secondary-color-light: #faab36;
  --secondary-color-very-light: #fde6cd;
  --secondary-color-dark: #e95709;
  --secondary-color-very-dark: #311a01;
  --secondary-color-20: rgba(247, 129, 4, 0.2);
  --secondary-color-30: rgba(247, 129, 4, 0.3);
  --secondary-color-60: rgba(247, 129, 4, 0.6);
  --primary-color: #008083;
  --primary-color-light: #249ea0;
  --primary-color-very-light: #cce6e6;
  --primary-color-dark: #005f60;
  --primary-color-very-dark: #001a1a;
  --primary-color-20: rgba(0, 128, 131, 0.2);
  --primary-color-30: rgba(0, 128, 131, 0.3);
  --primary-color-60: rgba(0, 128, 131, 0.6);
}

.md-status--draft::after {
  mask-image: var(--md-status--draft);
  -webkit-mask-image: var(--md-status--draft);
}

.md-typeset .emojione svg, .md-typeset .gemoji svg, .md-typeset .twemoji svg {
  fill: var(--md-primary-fg-color);
}

.md-tabs__item:last-child {
    margin-left: auto;
    /* padding-left: 1.3rem; */
    /* border-left: 1px solid rgba(255, 255, 255, 0.7); */
}

/* Badge */
.mdx-badge {
  font-size: 0.85em;
}

/* Badge moved to the right */
.mdx-badge--right {
  float: right;
  margin-left: 0.35em;
}

/* Badge icon */
.mdx-badge__icon {
  padding: 0.25rem;
  background: var(--md-accent-fg-color--transparent);
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.mdx-badge__icon svg {
  fill: var(--md-primary-fg-color--dark);
}

/* If icon is alone, round corners */
.mdx-badge__icon:last-child {
  border-radius: 0.125rem;
}

/* Badge text */
.mdx-badge__text {
  padding: 0.25rem 0.375rem;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
  --md-typeset-a-color: var(--md-primary-fg-color--dark);
}


.md-nav[data-md-level="2"], .md-nav[data-md-level="3"], .md-nav[data-md-level="4"] {
  border-left: 1px solid var(--md-default-fg-color--lightest);
  margin-left: 0.4rem;
}


/* Codeblock title */
.highlighttable span.filename {
    font-size: 12px;
    text-align: right;
    background: none;
    margin: 0;
    padding: 0 10px;
    font-weight: 500;
    color: var(--md-default-fg-color--light);
}

[dir=ltr] .md-typeset blockquote {
  border-left: .2rem solid var(--primary-color);
  color: var(--primary-color);
}